In [8]:
#1. Input two number, check if first is divisible by second
n1=int(input('Enter First Number :\t'))
n2=int(input('Enter Second number :\t'))
print(False if n1%n2  else True )

Enter First Number :	3
Enter Second number :	2
False

In [18]:
#2. CHeck String is Palindrome
s=input('Enter a String :\t')
t=s[::-1]
if s.upper()== t.upper():
    print('Palindrome')
else:
    print('Not Palindrome')

Enter a String :	Akilan
Not Palindrome

In [26]:
#3. Sides of Triangle
x=int(input('Enter Side1 :\t'))
y=int(input('Enter Side2 :\t'))
z=int(input('Enter Side3 :\t'))
if x==y==z:
    print('Equilateral Triangle')
elif not(x==y==z) and (x==y or y==z or z==x):
    print('Iscoceles Triangle')
else:
    print('Scalene Triangle')

Enter Side1 :	3
Enter Side2 :	3
Enter Side3 :	3
Equilateral Triangle

In [3]:
#4. Even or Odd
n=int(input('Enter a number :\t'))
print('Odd' if n%2 else 'Even')

Enter a number :	0
Even

In [17]:
#5. Range of Age
def Age():
    if n in range(0,13):
        return 'Child'
    elif n in range(13,18):
        return 'Teen'
    elif n in range(18,51):
        return 'Adult'
    elif n in range(51,101):
        return 'Senior Citizen'
    else:
        return 'Contratulations'

n=int(input('Enter the Age :\t'))
print(Age())

Enter the Age :	13
Teen

In [26]:
#6. Leap Year
year=input('Enter year in four digit:\t')
if int(year) <=0:
    print('Enter year in Positive')
elif len(year) !=4:
    print('Enter year in four digits')
elif int(year)%400 ==0:
    print(year, 'is a leap year')
elif int(year)%100 ==0:
    print(year, 'is not a leap year')
elif int(year)%4 ==0:
    print(year,'is a leap year')
else:
    print(year,'is not a leap year')

Enter year in four digit:	1900
1900 is not a leap year

In [28]:
#7. String uppercase and lower case
s=input('Enter a String :\t')
print(s.upper() if len(s)%2 else s.lower())

Enter a String :	Akilan
akilan

In [38]:
#8. Veg and Non-Veg
s=input('Enter a Food Item :\t')
t=s.upper()
if t.find('EGG') == -1:
    print(s,'is a Veg Item')
else:
    print(s, 'is a Non-Veg Item')

Enter a Food Item :	Chiken Biryani
Chiken Biryani is a Veg Item

In [41]:
#9. give Output of
if not 1:
    print("False")
else:
    print("True")  #True

if 1:
    print("True")
else:
    print("False") #True

if 'a' > 'A':
    print('Weird!!')
else:
    print('Make Sense') # Weird!!
    
a=[1,2,3,4]
if 1>1:
    a=a[::-1]
else:
    a=a[-1::-1]
print(a) # [4,3,2,1]

True
True
Weird!!
[4, 3, 2, 1]

In [44]:
#10. Avg of 5 Subjects
def get_grade():
    if pct >=90 and pct <=100:
        return 'A'
    elif pct >= 80 and pct <=89:
        return 'B'
    elif pct >=60 and pct <=79:
        return 'C'
    else:
        return 'F'

s1=int(input('Subject S1 :\t'))
s2=int(input('Subject S2 :\t'))
s3=int(input('Subject S3 :\t'))
s4=int(input('Subject S4 :\t'))
s5=int(input('Subject S5 :\t'))
pct=(s1+s2+s3+s4+s5)//5
print('Grade :',get_grade())

Subject S1 :	92
Subject S2 :	98
Subject S3 :	97
Subject S4 :	94
Subject S5 :	60
Grade : B

In [46]:
#11. calculate Tax
def sr(sal,age):
    if sal >=0 and sal <=250000:
        if age < 60:
            tax=sal * 0 /100
        else:
            tax=sal * 0 /100
    elif sal > 250000 and sal <= 500000:
        if age < 60:
            tax=sal * 5 /100
        else:
            tax=sal * 3 /100
    elif sal > 500000 and sal <=1000000:
        if age < 60:
            tax = sal * 10 /100
        else:
            tax = sal * 8 /100
    else:
        if age < 60:
            tax = sal * 15/100
        else:
            tax = sal * 12 /100
    return tax

salary=int(input('Enter your yearly salary :\t'))
age=int(input('Enter your Age :\t'))
print('Tax Amount :',sr(salary,age))

Enter your yearly salary :	250002
Enter your Age :	60
Tax Amount : 7500.06

In [57]:
#13. BMI calculator
def cal_BMI():
    BMI = we / (hg * hg)
    return BMI
we= int(input('Enter Weight in Kgs :\t'))
hg= int(input('Enter Height in cm :\t'))/100
print('BMI :',cal_BMI())

Enter Weight in Kgs :	85
Enter Height in cm :	171
1.71
BMI : 29.06877329776684

In [74]:
#14. Age of 3 People:
def oldest(sam,ram,pam):
    x=max(sam,ram,pam)
    return x
        

def youngest(sam,ram,pam):
    x=min(sam,ram,pam)
    return x

sam=int(input('Enter Age of Sam : \t'))
ram=int(input('Enter Age of Ram : \t'))
pam=int(input('Enter Age of Pam : \t'))
old=oldest(sam,ram,pam)
young=youngest(sam,ram,pam)
print(old,young)
if ram==sam==pam:
    print('All are triplets',ram)
elif ram==sam:
    print('Both Ram and Sam are twins','Oldest' if old==ram else 'Youngest')
    print('Pam','Oldest' if old==pam else 'Youngest')
elif pam==sam:
    print('Both Pam and Sam are twins','Oldest' if old==sam else 'Youngest')
    print('Ram','Oldest' if old==ram else 'Youngest')
elif ram==pam:
    print('Both Ram and Pam are twins','Oldest' if old==pam else 'Youngest')
    print('Sam','Oldest' if old==sam else 'Youngest')
else:
    print('Ram is Oldest' if old==ram else ('Sam is Oldest' if old==sam else 'Pam is Oldest'))
    print('Ram is Youngest' if young==ram else ('Sam is Youngest' if young==sam else 'Pam is Youngest'))

Enter Age of Sam : 	34
Enter Age of Ram : 	5
Enter Age of Pam : 	34
34 5
Both Pam and Sam are twins Oldest
Ram Youngest

In [78]:
#15. Divisibe by 5 and 7
n=int(input('Enter a Number :\t'))
if n%5 == 0 and n%7 == 0:
    print(n,'is divisible by 5 and 7')
elif n%5 == 0:
    print(n,'is divisible only by 5')
elif n%7 == 0:
    print(n,'is divisible only by 7')
else:
    print(n,'is not divisible by either 5 or 7')

Enter a Number :	22
22 is not divisible by either 5 or 7

In [80]:
#9. Base and exponent

b=int(input('Enter a Base Value :\t'))
e=int(input('Enter an Exponent Value :\t'))
s=1
for n in range(1,e+1):
   s*=b
print('Answer',s)

Enter a Base Value :	5
Enter an Exponent Value :	3
Answer 125

In [89]:
#10. print following pattern
for n in range(1,6):
    print('*'*n)
print('         ')
for n in range(5,0,-1):
    print('*'*n)
print('         ')
for n in range(1,6):
    a=5-n
    print(' '*a,'*'*n,sep='')
print('         ')
for n in range(1,8,2):
    a=(7-n)//2
    print(' '*a,'*'*n,' '*a,sep='')

*
**
***
****
*****

*****
****
***
**
*

    *
   **
  ***
 ****
*****

   *
  ***
 *****
*******

In [94]:
#11. Print number patterns:

for n in range(1,6):
    print(str(n)*n,sep='')
print('       ')
for n in range(1,6):
    print(*range(1,n+1),sep='')
print('       ')
for n in range(5,0,-1):
    a=5-n+1
    print(str(n)*a,sep='')
print('        ')
for n in range(1,6):
    print(' '*(5-n),str(n)*n,sep='')

1
22
333
4444
55555

1
12
123
1234
12345

5
44
333
2222
11111

    1
   22
  333
 4444
55555

In [115]:
#12. print a following character patterns:

for a in range(0,6):
    o=ord('A')
    for b in range(0,a):
        print(chr(o+b),sep='',end='')
    print()
print('      ')  

o=ord('A')
for a in range(0,6):
    for b in range(0,a):
        print(chr(o),sep='',end='')
        o=o+1
    print()

print('        ')

for a in range(0,5):
    s=ord('A')+a
    print(chr(s)*(a+1))
print('        ')

for n in range(1,6):
    a=ord('A')
    s=5-n
    print(' '*s,end='')
    for m in range(0,n):
        print(chr(a+m),sep='',end='')
    for p in range(n,1,-1):
        print(chr(a+p-2),sep='',end='')
    print()

A
AB
ABC
ABCD
ABCDE


A
BC
DEF
GHIJ
KLMNO

A
BB
CCC
DDDD
EEEEE

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA